# Build the tutorial site with:  jupyter-book start   (or:  jupyter-book build --html)
jupyter-book>=2.1
numpy
scipy
matplotlib
ipykernel
jupyter-server

# In-browser editable notebooks (JupyterLite)
jupyterlite-core
jupyterlite-pyodide-kernel
